.calculadora {
    padding: 10px;
    background: rgb(129, 255, 104);
    width: 200px;
    border-radius: 20px;
    box-shadow: 5px 2px yellow;
    text-align: center;
}
.calculadoraRaiz {
    padding: 10px;
    background: rgb(38, 255, 165);
    width: 200px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px;
}
.listaMensal {
    padding: 10px;
    background: rgb(233, 183, 183);
    width: 200px;
    border-radius: 20px;

    box-shadow: 2px 2px;
    display: none;
}
.calculadora input {
    background: black;
    color: white;
    border-radius: 15px;
    height: 25px;
    border: none;
    width: 100%;
}
.spResul {
    background: black;
    color: yellow;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
}

#btnCalc {
    padding: 5px;
    background: rgb(83, 123, 255);
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
}
#btnCalc:hover {
    background: rgb(44, 53, 45);
    color: white;
    cursor: pointer;
}
.calcF {
    display: none;
}
#calcFin {
    display: none;
}
#calcFin:checked + .calculadora .calcF {
    display: block;
}
